html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: static;
    background-repeat: no-repeat;
    background: #272727;
    background: -webkit-linear-gradient( #414141, #1c1b1b);
    background: -moz-linear-gradient( #414141, #1c1b1b);
    background: linear-gradient( #414141, #1c1b1b);
    font-family: arial;
    color: gray;
    min-width: 895px;
}

#square {
    position: absolute;
    z-index: -1;
    width: 100%;
    background-color: black;
    height: 80px;
}

#logo {
    float: left;
    padding-top: 4px;
}

#main-header {
    text-align: left;
    color: red;
    font-size: 2.6em;
    padding-top: 12px;
    display: inline;
    width: 60%;
    float: left;
}

#org-logo {
    padding-top: 15px;
    padding-right: 10%;
    float: right;
}

#wrapper {
    padding-left: 3em;
    padding-right: 3em;
    width: 100%;
    height: 100%;
}

#chat-toggle {
    border: none;
    background-color: rgb(102,0,0);
    color: white;
    font-style: normal;
    display: inline;
}

#chat-message-channel-container {
    width: 100%;
    display: flex;
    height: 100%;
}

#chat-body {
    overflow-y: scroll;
    width: 85%;
    height: flex;
    background-color: #2a2a2a;
    border-style: solid;
    border-width: 1px;
    border-color: #414141;
    font-style: normal;
}

#channel-body {
    overflow-y: scroll;
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    width: 13%;
    height: flex;
    background-color: #2a2a2a;
    border-style: solid;
    border-width: 1px;
    border-color: #414141;
    font-style: normal;
}

#channel-list-header {
    color: white;
    font: bolder;
    font-size: large;
    border-bottom-style: dashed;
    border-bottom-color: white;
}

#default-channel-item {
    background-color: #BBB;
    color: #333;
    font: bolder;
    border-bottom-style: dotted;
    border-color: gray;
}

#channel-items {
}

.user-message {
    vertical-align: top;
    display: flex;
}

.server-message {
    vertical-align: top;
    color: #BBB;
    display: flex;
}

.user-source {
    vertical-align: top;
    float: left;
    display: flex;
    color: white;
}

.server-source {
    vertical-align: top;
    float: left;
    display: flex;
    color: #AFA;
}

#talkers-body {
    background-color: #2a2a2a;
    border-style: solid;
    border-width: 1px;
    border-color: #414141;
    font-style: normal;
    width: 98%;
}

#name-input {
    background-color: #2a2a2a;
    border-style: solid;
    border-width: 1px;
    border-color: #414141;
}

p {
    display: inline;
}

#username {
    float: none;
    clear: both;
    padding-top: 3em;
    Padding-left: 1em;
    padding-bottom: 1.5em;
}

.form-group {
    padding: 1em;
}

.panel-info-chatbox {
    height: calc(100% - 200px - 175px);
}

.panel-footer {
    background-color: transparent;
}

#chat-message-input {
    color: #AAA;
    background-color: #2a2a2a;
    border-style: solid;
    border-width: 1px;
    border-color: #414141;
    width: 98%;
}

    #chat-message-input::-webkit-input-placeholder {
        font-style: italic;
    }

::-webkit-scrollbar {
    background-color: #2a2a2a;
}

#name-input::-webkit-input-placeholder {
    font-style: italic;
}

.mainLoginInput:-moz-placeholder {
    font-style: italic;
}

input::-webkit-input-placeholder {
    background-color: #2a2a2a;
}
